<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :service_address %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone, id: :service_phone %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :service_name %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo, id: :service_photo %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_area :tags, id: :service_tags %>
  </div>

  <div class="field">
    <%= form.label :schedule %>
    <%= form.text_field :schedule, id: :service_schedule %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, id: :service_category %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
