<p id="notice"><%= notice %></p>

<h1>Directorio de Servicios</h1>

<%= form_tag services_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Buscar", :name => nil %>
  </p>
<% end %>

<div class="container">
  <div class="row">
    <% @services.each do |service| %>
    <div class="col-md-3 productbox">
              <div class="thumbnail">
                <%= image_tag(service.photo_url, :width => 60, :height => 60, class:"img-thumbnail img-responsive") if service.photo.present? %>
                <div class="caption">
                  <h5><%= service.name %></h5><br> <h5><%= service.category %></h5>
                  <%= link_to "contactar", service_path(service) %>
                </div>
              </div>
            </div>
          <% end %> 
  </div>
</div>