<%= form_with(model: decision, local: true) do |form| %>
  <% if decision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(decision.errors.count, "error") %> prohibited this decision from being saved:</h2>

      <ul>
      <% decision.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tittle %>
    <%= form.text_field :tittle, id: :decision_tittle %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :decision_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
