<p id="notice"><%= notice %></p>

<p>
  <strong>Tittle:</strong>
  <%= @decision.tittle %>
</p>

<p>
  <strong>Description:</strong>
  <%= @decision.description %>
</p>

<%= link_to 'Edit', edit_decision_path(@decision) %> |
<%= link_to 'Back', decisions_path %>
