<p id="notice"><%= notice %></p>

<h1>Anuncios</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Archivo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newsletters.each do |newsletter| %>
      <tr>
        <td><%= newsletter.tittle %></td>
        <td><%= newsletter.file %></td>
        <td><%= link_to 'Mostrar', newsletter %></td>
        <td><%= link_to 'Editar', edit_newsletter_path(newsletter) %></td>
        <td><%= link_to 'Borrar', newsletter, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo anuncio', new_newsletter_path %>
