<div class="col-md-6">
  <p id="notice"><%= notice %></p>

  <h1>Quejas y reclamos</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Apartmento</th>
        <th>Tipo</th>
        <th>Descripción</th>
        <th>Respuesta</th>
        <th>Resuelto?</th>
        <th>Imagen</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @complaints.each do |complaint| %>
          <tr>
            <td><%= complaint.apartment.apto %></td>
            <td><%= complaint.category %></td>
            <td><%= complaint.description %></td>
            <td><%= complaint.answer %></td>
            <td><%= complaint.solved %></td>
            <td><%= image_tag(complaint.imagen_url, :width => 200, :height => 200) if complaint.imagen.present? %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to new_complaint_path do%>
  <%= image_tag('btn-enviar-solicitud.png')%>
  <%end %>
</div>

<div class="col-md-6">
  <div class="help-box">
    <h2><strong>NOTA:</strong></h2>
    <%= image_tag('close.png', class: "close") %>
    <p>en esta sección usted podrá hacer una petición, sugerencia o queja con la posibilidad de enviar una imagen que refuerce su comunicación, esta información llegara directamente a la administración de su conjunto dando un seguimiento y solución a su petición.</p>
  </div>
</div>
