<p id="notice"><%= notice %></p>

<h1>Mascotas</h1>

<table>
  <thead>
    <tr>
      <th>Breed</th>
      <th>Name</th>
      <th>Apartment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.breed %></td>
        <td><%= pet.name %></td>
        <td><%= pet.apartment %></td>
        <td><%= link_to 'Mostrar', pet %></td>
        <td><%= link_to 'Editar', edit_pet_path(pet) %></td>
        <td><%= link_to 'Borrar', pet, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear nueva mascota', new_pet_path %>
