<div class="row">
  <div class="col-md-6">
  <h1>Áreas comunes</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Lugar</th>
        <th>Fecha</th>
        <th>Incio</th>
        <th>Final</th>
        <th>Usuario</th>
        <th>Aprobado?</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% $common_areas.each do |common_area| %>
        <tr>
          <td><%= common_area.title %></td>
          <td><%= common_area.date %></td>
          <td><%= common_area.start_hour.hour %>:<%= common_area.start_hour.min %></td>
          <td><%= common_area.end_hour.hour %>:<%= common_area.end_hour.min %></td>
          <td><%= common_area.user.name %> <%= common_area.user.last_name %></td>
          <%if common_area.aproved?%> 
            <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <%else %>
            <td> pendiente </td>
          <%end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to new_common_area_path do%>
    <%= image_tag('solicitud.png') %>
  <%end %>
  </div>
  <div class="col-md-6">
    <div id="calendar"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="help-box">
        
        <h2><strong>NOTA:</strong></h2>
        <%= image_tag('close.png', class: "close") %>
        <p>En este espacio puede hacer solicitudes de los espacio comunes que tenemos a disposición. Cree la solicitud y tan pronto la solicitud sea aprobada por la administración se verá en la tabla.</p>
    </div>
  </div>
</div>


