<div class="col-md-6">
  <p id="notice"><%= notice %></p>

  <h1>Áreas comunes</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Lugar</th>
        <th>Fecha</th>
        <th>Hora de incio</th>
        <th>Hora final</th>
        <th>Usuario</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @common_areas.each do |common_area| %>
        <tr>
          <td><%= common_area.title %></td>
          <td><%= common_area.date %></td>
          <td><%= common_area.start_hour.hour %>:<%= common_area.start_hour.min %></td>
          <td><%= common_area.end_hour.hour %>:<%= common_area.end_hour.min %></td>
          <td><%= common_area.user.name %> <%= common_area.user.last_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to new_common_area_path do%>
    <%= image_tag('solicitud.png') %>
  <%end %>
</div>

<div class="col-md-6">
  <div id="calendar"></div>
</div>

