<div class="col-md-6">
  <p id="notice"><%= notice %></p>

  <h1>Áreas comunes</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Lugar</th>
        <th>Fecha</th>
        <th>Hora de incio</th>
        <th>Hora final</th>
        <th>Usuario</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @common_areas.each do |common_area| %>
        <tr>
          <td><%= common_area.place %></td>
          <td><%= common_area.date %></td>
          <td><%= common_area.start_hour %></td>
          <td><%= common_area.end_hour %></td>
          <td><%= common_area.user.name %></td>
          <td><%= link_to 'Mostrar', common_area %></td>
          <td><%= link_to 'Editar', edit_common_area_path(common_area) %></td>
          <td><%= link_to 'Borrar', common_area, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to 'Crear una nueva solicitud', new_common_area_path %>
</div>

<div class="col-md-6">
  <div class="help-box">
    <%= image_tag('info.png') %>
    <h2>Nota:</h2>
    <p>hola mundo</p>
  </div>
</div>

