<div class="col-md-6">
  <p id="notice"><%= notice %></p>

  <h1>Clasificados</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Título</th>
        <th>Descripción</th>
        <th>Valor</th>
        <th>Imagen</th>
        <th>Usuario</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @advertisements.each do |advertisement| %>
        <tr>
          <td><%= advertisement.tittle %></td>
          <td><%= advertisement.description %></td>
          <td><%= advertisement.amount %></td>
          <td><%= image_tag(advertisement.imagen_url, :width => 200, :height => 200) if advertisement.imagen.present? %></td>
          <td><%= advertisement.user.last_name %> <%= advertisement.user.name %></td>
          <td><%= link_to 'Mostrar', advertisement %></td>
          <td><%= link_to 'Editar', edit_advertisement_path(advertisement) %></td>
          <td><%= link_to 'Borrar', advertisement, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to new_advertisement_path do%>
    <%= image_tag('btn-enviar.png') %>
  <% end %> 
</div>
<div class="col-md-6">
  <div class="help-box">
    <%= image_tag('info.png') %>
    <h2>Nota:</h2>
    <p>En este espacio podrás publicar los clasificados para la comunidad, eso que ya no uses, servicios a la comunidad o tus ventas de garaje.</p>
  </div>
</div>
