<div class="row">
  <div class="col-md-6">
        <h1>Clasificados</h1>
    <%= link_to new_advertisement_path do%>
      <%= image_tag('btn-crear.png') %>
    <% end %> 
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
        <% @advertisements.each do |advertisement| %>
        <div class="row">
          <div class="col-md-6">
            <div class="preview-pic">
              <%= image_tag(advertisement.imagen_url, :width => 200, :height => 200) if advertisement.imagen.present? %>
            </div>
          </div>
          <div class="col-md-6">
            <h3 class="product-title"><%= advertisement.tittle %></h3>
            <h4 class="product-info">Precio: <span><%= advertisement.amount %></span></h4>
            <h4 class="product-info">Usuario: <span><%= advertisement.user.last_name %> <%= advertisement.user.name %></span></h4>
            <h4 class="product-info">Tel: <span><%= advertisement.user.cellphone %></span></h4>
            <h4 class="product-info">Email: <span><%= advertisement.user.email %></span></h4>
            <p class="product-description"><%= advertisement.description %></p>
          </div>
        </div>
        <%end %>
    </div>

  <div class="col-md-6">
    <div class="help-box">
      <h2><strong>NOTA:</strong></h2>
      <%= image_tag('close.png', class: "close") %>
      <p>Hemos habilitado esta sección para los recientes lo cuales pueden ofrecer a su comunidad elementos o bienes los cuales quiera vender. Toda la comunidad podrá ver las imagines del clasificado así como su información contacto. Cada residente puede subir un máximo de 3 clasificados por mes, en caso de necesitar mas por favor comunicarse con solicitud@cmg.com.co</p>
    </div>
  </div>
</div>





