<h1>Editar queja o reclamo</h1>

<div class="col-md-6">
  <%= form_with(model: @complaint, url: answer_path(@complaint), local: true) do |form| %>
    <div class="field">
      <%= form.hidden_field :category %>
    </div>

    <div class="field">
      <%= form.hidden_field :topic%>
    </div>

    <div class="field">
      <%= form.hidden_field :description, id: :complaint_description, class:"form-control ggg" %>
    </div>

    <div class="field">
      <%= form.hidden_field :imagen %>
    </div>

    <div class="field">
      <%= form.label :answer, t('Respuesta') %>
      <%= form.text_area :answer, id: :complaint_answer, class:"form-control ggg" %>
    </div>

    <div class="field">
      <%= form.label :solved, t('¿La solicitud a sido resuelta?')%>
      <%= form.check_box :solved, class: "checkbox"%>
    </div>

    <div class="field">
      <%= form.hidden_field :apartment_id, value: current_user.apartment.id %>
    </div>

    <div class="actions">
      <%= image_submit_tag("btn-enviar.png") %>
    </div>
  <% end %>
</div>


<%= link_to 'Regresar', answers_path %>