<p id="notice"><%= notice %></p>

<div class="container">
  <div class="col-xs-12 col-md-12">
    <div class="panel panel-default">
      <!-- encabezado del chat -->
          <div class="panel-heading top-bar">
              <div class="col-md-12 col-xs-12">
                  <h3 class="panel-title">Chat - COMUNIDAD MEDITERRANEO</h3>
              </div>
          </div>
          <!-- contenedor de comentarios -->
          <% @chats.each do |chat| %>
              <div class="msg_container base_sent">
                <div class="messages row">
                  <% if chat.user == current_user %>
                    <div class="col-md-10 msg_sent">
                      <p> <%= chat.comment %> </p>
                    </div>
                    <div class="col-md-2">
                      <p> <%= chat.user.name %> <%= chat.user.last_name %> <time> <%= chat.created_at %> </time></p> 
                    </div>
                  <%else %>
                    <div class="col-md-2">
                      <p> <%= chat.user.name %> <%= chat.user.last_name %> <time> <%= chat.created_at %> </time></p> 
                    </div>
                    <div class="col-md-10 msg_receive">
                      <p> <%= chat.comment %> </p>
                    </div>
                  <%end %>
                </div>
              </div>
          <%end %>

          <%= form_for :chat do |form| %>
          <div class="panel-footer">
              <div class="input-group">
                <%= form.text_area :comment, id: :chat_comment, class: "form-control input-sm chat_input", placeholder: "Write your message here..."  %>
                  <span class="input-group-btn">
                  <%= form.submit 'enviar', class: "btn btn-primary btn-sm" %>
                  </span>
              </div>
          </div>
          <%end %>
    </div>
  </div>
</div>