<!-- botones y texto de info -->
<div class="row">
	<div class="col-md-6">
		<h1>Crear:</h1>
			<%= link_to new_child_path do%>
				<%= image_tag('btn-nino.png') %>
			<%end%>
			<%= link_to new_werehouse_path do%>
				<%= image_tag('btn-empleado.png') %>
			<%end %>
			<%= link_to new_pet_path do%>
				<%= image_tag('btn-mascota.png') %>
			<%end %>
			<%= link_to new_vehicle_path do%>
				<%= image_tag('btn-vehiculo.png') %>
			<%end %>
	</div>
	<div class="col-md-6">
		<div class="help-box">
    <%= image_tag('info.png') %>
    <h2>Nota:</h2>
    <p>hola mundo</p>
  </div>
	</div>
</div>

<% if current_user %>
<div class="row">
	<div class="col-md-3">
			<h2>Usuarios del apartamento</h2>
			<div class="table-responsive">
				<table class="table table-striped b-t b-light">
					<thead>
						<tr>
						  <th>Nombre</th>
						  <th>Apellido</th>
						</tr>
					</thead>
					<tbody>
						<% current_user.apartment.users.all.each do |person| %>
						  <tr>
						    <td><%= person.name %></td>
						    <td><%= person.last_name %>
						  </tr>
						<% end %>
					</tbody>
				</table>
			</div>
	</div>
	<div class="col-md-3">
		<h2>Niños</h2>
		<div class="table-responsive">
			<div class="col-md-4">
			<table class="table table-striped b-t b-light">
			  <thead>
			    <tr>
			      <th>Nombre</th>
			      <th>Apellido</th>

			      <th>Género</th>
			    </tr>
			  </thead>
			  <tbody>
			    <% current_user.apartment.children.all.each do |child| %>
			      <tr>
			        <td><%= child.name %></td>
			        <td><%= child.last_name %></td>
			        <td><%= child.gender %></td>
			        <td><%= link_to 'Show', child %></td>
			        <td><%= link_to 'Edit', edit_child_path(child) %></td>
			        <td><%= link_to 'Destroy', child, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<h2>Mascotas</h2>
		<div class="table-responsive">
			<div class="col-md-4">
				<table class="table">
		  		<thead>
				    <tr>
				      <th>Raza</th>
				      <th>Nombre</th>
				      <th colspan="3"></th>
				    </tr>
			  	</thead>
			  	<tbody>
			    <% current_user.apartment.pets.each do |pet| %>
			      <tr>
			        <td><%= pet.breed %></td>
			        <td><%= pet.name %></td>
			        <td><%= link_to 'Mostrar', pet %></td>
			        <td><%= link_to 'Editar', edit_pet_path(pet) %></td>
			        <td><%= link_to 'Borrar', pet, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
			      </tr>
			    	<% end %>
			  	</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<h2>Vehículos</h2>
		<div class="table-responsive">
			<table class="table table-striped b-t b-light">
				  <thead>
				    <tr>
				      <th>Tipo</th>
				      <th>Placa</th>
				      <th>Marca</th>
				    </tr>
				  </thead>
					<tbody>
				    <% current_user.apartment.vehicles.each do |vehicle| %>
				      <tr>
				        <td><%= vehicle.category %></td>
				        <td><%= vehicle.plate %></td>
				        <td><%= vehicle.brand %></td>
				        <td><%= link_to 'Mostar', vehicle %></td>
				        <td><%= link_to 'Editar', edit_vehicle_path(vehicle) %></td>
				        <td><%= link_to 'Borrar', vehicle, method: :delete, data: { confirm: 'Estas seguro' } %></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
		</div>
	</div>
</div>



<div class="row">
	<div class="chart_agile">
		<div class="col-md-6">
			<h2>Servicio doméstico</h2>
			<table class="table table-striped b-t b-light">
			  <thead>
			    <tr>
			      <th>Nombre</th>
			      <th>Apellido</th>
			      <th>ARL</th>
			      <th colspan="3"></th>
			    </tr>
			  </thead>
				<tbody>
			    <% current_user.apartment.werehouses.each do |werehouse|%>
			      <tr>
			        <td><%= werehouse.name %></td>
			        <td><%= werehouse.last_name %></td>
			        <td><%= werehouse.ARL %></td>
			        <td><%= link_to 'Mostar', vehicle %></td>
			        <td><%= link_to 'Editar', edit_vehicle_path(vehicle) %></td>
			        <td><%= link_to 'Borrar', vehicle, method: :delete, data: { confirm: 'Estas seguro' } %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table> 
		</div>
	</div>
</div>
	




<%end %>