<p id="notice"><%= notice %></p>

<h1>Empleadas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Last name</th>
      <th>Document</th>
      <th>Arl</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @werehouses.each do |werehouse| %>
      <tr>
        <td><%= werehouse.name %></td>
        <td><%= werehouse.last_name %></td>
        <td><%= werehouse.document_id %></td>
        <td><%= werehouse.ARL %></td>
        <td><%= link_to 'Mostrar', werehouse %></td>
        <td><%= link_to 'Editar', edit_werehouse_path(werehouse) %></td>
        <td><%= link_to 'Borrar', werehouse, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear una nueva empleada', new_werehouse_path %>
