<aside>
  <div id="sidebar" class="nav-collapse">
    <!-- sidebar menu start-->
    <div class="leftside-navigation">
      <ul class="sidebar-menu" id="nav-accordion">
        <li>
          <%= link_to root_path do %>
            <%= image_tag("home.png") %> INICIO
          <% end %>
        </li>
        <%if current_user %>
        <li>
          <%= link_to family_path do %>
            <%= image_tag("chat.png") %> FAMILIA
          <% end %>
        </li>
          <% if current_user && current_user.active%>
            <li>
              <%= link_to advertisements_path do %>
                <%= image_tag("clasificados.png") %> CLASIFICADOS
              <% end %>
            </li>
            <li>
              <%= link_to common_areas_path do %>
                <%= image_tag("calendario.png") %> ÁREAS COMUNES
              <% end %>
            </li>
            <li>
              <%= link_to complaints_path do %>
                <%= image_tag("complaints.png") %> PQRS
              <% end %>
            </li>
            <%if current_user && current_user.active&&current_user.owner %>
              <li>
                <%= link_to decisions_path do %>
                  <%= image_tag("decision.png") %>VOTACION
                <% end %>
              </li>
            <%end %>
            <%if current_user && current_user.active&&current_user.admin %>
              <li>
                <%= link_to activation_path do %>
                  <%= image_tag("home.png") %> ACTIVAR
                <% end %>
              </li>
              <li>
                <%= link_to new_decision_path do %>
                  <%= image_tag("decision.png") %> CREAR VOTACION
                <% end %>
              </li>
            <%end %>
          <%end %>
        <%end %>
      </ul>
      <ul class="sidebar-menu" id="nav-accordion">
        <% if current_user %>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <%= image_tag("sign_out.png") %> CERRAR SESION
          <%end%>
        </li>
        <% else %>
        <li>
          <%= link_to new_user_registration_path do %>
          <%= image_tag("configuracion.png") %> REGISTRARSE
          <% end %>
        </li>
        <li>
          <%= link_to  new_user_session_path do %>
          <%= image_tag("iniciar-sesion.png") %> INICIAR SESION
          <% end %>
        </li>
        <% end %>
      </ul>
      </br>
      <div class="logo-CMG">
        <ul class="sidebar-menu">
          <li>
            <%= image_tag("logo_CMG.png", class: "img-cmg") %> <p style="
              color: white;
              margin-left: 40px;
              font-size: 10px;
            ">Todos los derechos reservados</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>