<div class="col-md-2 column productbox">
  	<%= image_tag(product.image_url, :width => 300, :height => 150) if product.image.present? %>
  	<div class="producttitle"><%= product.name %></div>
  	<%= form_for :order_item, url: order_items_path, remote: true do |f| %>
  		<div><%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %></div>
  		<div class="pull-right"></div>	
  		<div class="productprice"><div class="pricetext"><%= number_to_currency(product.price, strip_insignificant_zeros: true)  %></div></div>
  		<%= f.hidden_field :product_id, value: product.id %>
  		<div class="pull-right"><%= f.submit "Pedir", class: "btn btn-danger btn-sm" %></div>
  	<% end %>
</div>


